.container {
    max-width: 1440px!important;
    margin: auto;
    padding: 0!important;
}

.Mui-focused {
    outline-color: var(--primary)!important;
}

.container-box {
    margin: auto;
    max-width: 1092px;
    padding: 100px;
}

.MuiChip-filled:hover {
    background: var(--neutral-b-800)!important;
}