:root {
  --text: #6b6375;
  --text-h: #08060d;
  --primary: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --neutral-b-900: #0E1422;
  --neutral-b-800: #202533;
  --neutral-b-600: #474B57;
  --neutral-b-500: #5C5F6A;
  --neutral-b-100: #E6E7E8;
  --neutral-b-300: #878A92;
  --neutral-w-100: #f6f6f6;
  --neutral-w-200: #E9E9EB;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

